.home {
    flex: 4;
}

.homeWidgets {
    display: flex;
    margin: 20px;
}

.filterContainer {
    display: flex;
    flex-direction: row;
    margin: 20px 20px;
}

.filterContainer>span {
    display: inline-block;
    margin-right: 40px;
}

.filterContainer>span>label {
    display: inline-block;
    margin-right: 5px;
}